<div class="container">
  <h1>Buy</h1>
<hr>
<div class="row">
  <div class="col-lg-4">
    <h5>Prepaid</h5>
    <%=render'buy/templates/airtime'%>
    <%=render'buy/templates/data'%>
    <%=render'buy/templates/electricity'%>
    <%=render'buy/templates/tickets'%>
    
  </div>

  <div class="col-lg-4">
    <h5>Fin-tech</h5>

  </div>
  <div class="col-lg-4">
    <h3>Recent Purchase</h3>
    <hr>
  </div>
</div>
</div>
