
<a href="#">
  <div class="d-flex align-items-center p-1 my-3 text-white-50 bg-grey rounded box-shadow">
      <%=image_tag('data.png', class:'mr-3',  width:"48", height:"48")%>
    <div class="lh-100">
    <h6 class="mb-0 text-white lh-100">Data</h6>
    </div>
  </div>
</a>
