  <div class="container">
        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">FIBRE <span class="text-muted">to home.</span></h2>
            <H3>Fibre Means Better, Faster Internet.</H3>
            <p class="lead">Fibre uses optical cables to carry data via light, which makes it the fastest internet you can get – up to 50x times faster than the fastest ADSL available in South Africa. With the improved bandwidth throughput of Fibre you’ll have a more stable connection with lower latency. And, because Fibre uses light instead of electrical pulses, it's weather resistant and doesn't degrade over large distances – giving you a consistent, fast internet and a dependable experience.</p> <div class="btn  btn-warning">Apply now </div>
          </div>
          <div class="col-md-5">
            <%=image_tag('f.jpg', class:'featurette-image img-fluid mx-auto')%>
          </div>
        </div>
        <hr class="featurette-divider">
</div>
