<div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%=image_tag('old-pop.png', class:'first-slide')%>
            <div class="container">
              <div class="carousel-caption">
                <h1>My Smart City <br>City to citizens Management System </h1>
                <p>“Changing mindsets – Improving Lives”</p>
                <p><a class="btn btn-lg btn-warning" href="http://www.tshwane.gov.za/Sites/About_Tshwane/CityOfTshwaneNutshell/Pages/City-Of-Tshwane-in-a-Nutshell.aspx" target="_blank" role="button">Learn more</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
              <%=image_tag('loyalty.png', class:'second-slide')%>
            <div class="container">
              <div class="carousel-caption">
                <h1>Online Loyalty & Marketplace Platform</h1>
                <p> The organisation recognises the need for an online loyalty program with real benefits</p>
                <p><a class="btn btn-lg btn-warning" href="3" target="_blank" role="button">Learn more</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <%=image_tag('reward.png', class:'third-slide')%>

            <div class="container">
              <div class="carousel-caption">
                <h1>Points Conversion Based on Spend</h1>
                <p>You earn points everytime you spend</p>
                <p><a class="btn btn-lg btn-warning" href="#" role="button">Learn more</a></p>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
