<title>City Of Tshwane - Online Platform</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<%= csrf_meta_tags %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.9/css/mdb.min.css" rel="stylesheet">
<link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
 <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.9/js/mdb.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>


<style media="screen">
  a, a.disabled:hover, a:disabled:hover{color: #49a942!important;}
  .navbar.navbar-dark .breadcrumb .nav-item .nav-link, .navbar.navbar-light .navbar-nav .nav-item .nav-link {color: #fff !important; -webkit-transition: .35s; -o-transition: .35s; transition: .35s;}
  .bg-dark {background-color: #49a942!important;}
  .btn-warning {background-color: #ffe414!important;color: #343a40!important;}
  .btn-warning.dropdown-toggle { background-color: #ffe514!important;}
</style>
