// $navbar-default-bg: #312312;
// $light-orange: #ff8c00;
// $navbar-default-color: $light-orange;
$secondary-color :red;
$primary-color:black;
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "sticky-footer";
@import "announcements";
@import "carousel";

.home-card.card-body {height:420px}
.bg-black {background-color: #2c3e50;}
.bg-grey{background-color: #7f8c8d;}

// Fixes bootstrap nav-brand container overlap
@include media-breakpoint-down(xs) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

// Masquerade alert shouldn't have a bottom margin
body > .alert {
  margin-bottom: 0;
}

#logo.btn{
  font-size: 16px;
}
.margin-top-20{margin-top: 20px;}
.margin-top-100{margin-top: 100px;}
.navbar.navbar-nav .nav-item .nav-link {
  color: #fff;
  -webkit-transition: .35s;
  -o-transition: .35s;
 transition: .35s;
}
